Address Validation with USPS/flows/AddressValidation.flow-meta
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ValidateAddress</name>
        <label>Validate Address</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <actionName>UspsAddressValidationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WasTheValidationSuccessful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>InputAddress.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firmName</name>
            <value>
                <elementReference>Organization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>InputAddress.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>InputAddress.street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>InputAddress.postalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UspsAddressValidationAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AccumulateDpvFootnotes</name>
        <label>Accumulate DPV Footnotes</label>
        <locationX>138</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formattedDpvFootnote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectDpvFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccumulateFootnotes</name>
        <label>Accumulate Footnotes</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formattedFootnote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDpvFootnotes</name>
        <label>Assign DPV Footnotes</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>dpvFootnotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.dpvFootnotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dpvFootnotesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.dpvFootnotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreThereDpvFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFootnotes</name>
        <label>Assign Footnotes</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>footnotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.footnotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>footnotesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.footnotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreThereFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalizeDpvFootnotes</name>
        <label>Finalize DPV Footnotes</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalizeFootnotes</name>
        <label>Finalize Footnotes</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDpvFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeComments</name>
        <label>Initialize Comments</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formattedObservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeDpvFootnotes</name>
        <label>Initialize DPV Footnotes</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;h3&gt;DPV Footnotes&lt;/h3&gt;&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectDpvFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeErrors</name>
        <label>Initialize Errors</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeFootnotes</name>
        <label>Initialize Footnotes</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;h3&gt;Footnotes&lt;/h3&gt;&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectFootnotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_address</name>
        <label>Set Input address</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>InputAddress.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.inputCountryOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.inputCountryOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.addressLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.addressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.inputProvinceOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.inputProvinceOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAddress.street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_InputAddress.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidateAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Address</name>
        <label>Set Updated Address</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.zipCode.zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidateAddress.validatedAddress.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreThereDpvFootnotes</name>
        <label>Are there DPV footnotes?</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AreThereDpvFootnotes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dpvFootnotesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitializeDpvFootnotes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AreThereFootnotes</name>
        <label>Are there footnotes?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>AssignDpvFootnotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AreThereFootnotes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>footnotesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitializeFootnotes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Input</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasTheValidationSuccessful</name>
        <label>Was the validation successful?</label>
        <locationX>336</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>InitializeErrors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>WasTheValidationSuccessful_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateAddress.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitializeComments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formattedDpvFootnote</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;li&gt;&quot; &amp; {!CollectDpvFootnotes.description} &amp; &quot;&lt;/li&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formattedError</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;div style=&apos;color:#ea001e;&apos;&gt;&lt;h3&gt;Error&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;&quot; &amp;
{!ValidateAddress.error.description}
&amp; &quot;&lt;/strong&gt;&lt;br/&gt;&quot; &amp;
{!ValidateAddress.error.explanation}
&amp; &quot;&lt;/li&gt;&lt;/div&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formattedFootnote</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;li&gt;&lt;strong&gt;&quot; &amp; {!CollectFootnotes.description} &amp; &quot;&lt;/strong&gt;&lt;br/&gt;&quot; &amp; {!CollectFootnotes.explanation} &amp; &quot;&lt;/li&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formattedObservations</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;h3&gt;According to the USPS&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;This &lt;strong&gt;&quot; &amp; 
IF ({!ValidateAddress.validatedAddress.isBusiness}, &quot;is&quot;, &quot;is not&quot;)
&amp; &quot;&lt;/strong&gt; a business address.&lt;/li&gt;&lt;li&gt;This location is &lt;strong&gt;&quot; &amp;
IF ({!ValidateAddress.validatedAddress.isVacant}, &quot;vacant&quot;, &quot;occupied&quot;)
&amp; &quot;&lt;/strong&gt;.&lt;/li&gt;&lt;/ul&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Address Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Validation</label>
    <loops>
        <name>CollectDpvFootnotes</name>
        <label>Collect DPV Footnotes</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <collectionReference>dpvFootnotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccumulateDpvFootnotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalizeDpvFootnotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CollectFootnotes</name>
        <label>Collect Footnotes</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>footnotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccumulateFootnotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalizeFootnotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account_Address</name>
        <label>Update Account Address</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <inputReference>UpdateAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Updated_Address</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrganizationName_Output</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ValidateAddress.validatedAddress.firmName</elementReference>
                    </defaultValue>
                    <fieldText>Organization Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OutputAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.state</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.zipCode.zip</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <stringValue>United States</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <stringValue>United States</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.city</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Footnotes_Display</name>
                    <fieldText>&lt;p&gt;{!comments}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Address</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirmation</name>
        <label>Copy 1 of Confirmation</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_OrganizationName_Output</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ValidateAddress.validatedAddress.firmName</elementReference>
                    </defaultValue>
                    <fieldText>Organization Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_OutputAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.state</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.zipCode.zip</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <stringValue>United States</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <stringValue>United States</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>ValidateAddress.validatedAddress.city</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Footnotes_Display</name>
                    <fieldText>&lt;p&gt;{!formattedError}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Address</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Input</name>
        <label>Copy 1 of Input</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Input_address</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Organization</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_InputAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>AccountRecord.PersonMailingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Error_Display</name>
                    <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Validate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidateAddress</targetReference>
        </connector>
        <fields>
            <name>Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>InputAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>AccountRecord.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <elementReference>AccountRecord.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>AccountRecord.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>AccountRecord.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <elementReference>AccountRecord.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>AccountRecord.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>AccountRecord.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error_Display</name>
                    <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Validate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dpvFootnotes</name>
        <apexClass>UspsDpvFootnote</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dpvFootnotesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>footnotes</name>
        <apexClass>UspsFootnote</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>footnotesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
